.gallery-item {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  
  &:nth-child(odd) {
    flex-direction: row-reverse;

    .caption {
      text-align: right;
    }
  }
  
  img {
    margin: 5px;
    border: solid black 3px;
    transition: border-color 0.5s;
  
    &:hover {
      border-color: gold;
    }
  }
  
  .caption {
    width: 50%;
    margin: 0 30px;
  }
}

@media only screen and (max-width: 999px) {
  .gallery-item {
    justify-content: center;
    flex-direction: column !important;
    margin-bottom: 20px;

    .caption {
      width: 100%;
      margin: 0;

      h2, h3 {
        text-align: center;
      }
    }

    img {
      max-width: 100%;
    }
  }
}
